body{
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body div{
  margin: 50px;
}
header {
  height: 100px;
}

header h1{
  font-size: 2rem;
}

header h4{
  font-size: 1rem;
  font-weight: 300;
  color: gray;
}
